$clr-a: #cf00e1;
$clr-h: #44055d;
$font_color: #fff;

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-acitve {
  color: $clr-a;
}

.page-title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.thumbnail {
  position: relative;
  display: inline-block;
  border-radius: 0px;
  padding: 10px;
  height: 23vh;
  width: 100%;
  background-size: 100% 100%;
  background-image: url("../img/thumbnail-border.png");

  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  .tip {
    visibility: hidden;
    background-color: #1f032e;
    color: #fff;
    width: 98%;
    text-align: center;
    border-radius: 0px;
    padding: 10px;
    position: absolute;
    bottom: 12%;
    left: 1%;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 80%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: #1f032e transparent transparent transparent;
    }
  }

  &:hover .tip {
    visibility: visible;
  }
}

.page-nav {
  padding: 0px;
  background-color: #341b45 !important;

  .nav-item {
    height: 42px;
    padding: 5px 10px;
    flex-shrink: 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    &:hover {
      background-color: $clr-h;
    }

    &.active {
      background-color: $clr-a;
    }
  }
}

.searchbox {
  input {
    width: 100%;
    height: 42px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(8.5px);
    border: 0px !important;
    border-radius: 0px !important;
  }

  span {
    border-radius: 0px !important;
    border: none !important;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(8.5px);
    color: #cf00e1;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.47);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.menubar {
  .btn {
    height: 40px;
    background-color: $clr-a;
  }

  .list-group {
    height: 40vh;
    overflow: auto;
    border-radius: 0px;

    &::-webkit-scrollbar {
      width: 0px;
    }

    .list-group-item {
      border: none;
      background-color: $clr-h;
      color: $font_color;
    }
  }
}

.paginate-container {
  position: relative;

  .paginate {
    width: 100%;
    text-align: right;
    li {
      padding: 0px 10px;
      display: none;
    }

    .next,
    .previous {
      display: inline-block !important;

      i {
        font-size: 20px;
        color: $clr-a;

        &:hover {
          color: $clr-h;
        }
      }
    }
  }
}

.help-btn {
  width: 183px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #9e19c7;
  background: var(--fff, linear-gradient(95deg, #d900ff 0%, #8500ff 100%));
  box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.32);
}

.play-btn {
  height: 30px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #9e19c7;
  background: var(--fff, linear-gradient(95deg, #d900ff 0%, #8500ff 100%));
  box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.32);
}

.topnav-btn {
  width: 118px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #9e19c7;
  background: #1d002a;
  box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.32);
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover,
  &.active {
    background: $clr-a;
  }
}

.square-btn {
  width: 130px;
  height: 42px;
  text-align: center;
  border-radius: 0px !important;
  border: 1px solid #9e19c7;
  background-color: #1d002a;
  box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.32);

  &:hover,
  &.active {
    background: $clr-a;
  }
}

.help-modal {
  .modal-content {
    background-color: #44055d;
    color: #fff;
    height: 75vh;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }

    .modal-header,
    .modal-footer {
      border: none;
    }
  }
}

.about-us-title {
  .left,
  .right,
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 16px;
    filter: drop-shadow(0px 12px 14px rgba(217, 0, 255, 0.22));
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .left {
    background-image: url("../img/bg-left.svg");
    background-position: right;
  }

  .right {
    background-image: url("../img/bg-right.svg");
    background-position: left;
  }

  .center {
    margin-top: 8px;
    background-image: url("../img/bg-center.svg");
    background-position: center;
  }
}

.about-us-content {
  padding: 30px;
  overflow: auto;
  background-color: #1b022c;
  box-shadow: 0px 0px 18px 0px rgba(218, 3, 247, 0.16);
}

.bg-iwin {
  color: #fff;
  background-color: #1b022c;
  box-shadow: 0px 0px 18px 0px rgba(218, 3, 247, 0.16);
}

.avatar-container {
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(81, 4, 106, 0.67) 50%,
    transparent 50%
  );
  padding: 10% 20%;
  img {
    width: 100%;
    box-shadow: 0px 2px 13px 0px rgba(217, 0, 255, 0.47);
  }
  .input-icon {
    position: absolute;
    top: 75%;
    right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    background: #8a00ff;
    border: solid 1px #d900ff;
    border-radius: 50%;
    cursor: pointer;
    i {
      font-size: 20px;
      color: #fff;
    }
  }
}

#dashboard-table {
  thead {
    tr {
      border-bottom: solid 15px #0000;
      th {
        height: 42px;
        color: #fff;
        text-align: center;
        background: rgba(255, 255, 255, 0.09) !important;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-variant: small-caps;
      }
    }
  }
  tbody {
    tr {
      td {
        color: white;
        text-align: center;
        background: rgba(255, 255, 255, 0.09);
        backdrop-filter: blur(8.5px);
        border: none !important;
      }
    }
  }
}
