$clr-a: #9e19c7;
$clr-n: #1f032e;
$font_color: #fff;

#root {
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(0deg, #1b0129d8, #1b0129d8), url("../img/bg.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .dot-layers {
    .layer {
      position: fixed;
      background-image: url("../img/dot.png");
      background-repeat: repeat;
      top: 0;
      width: 100px;
      min-height: 100vh;
    }

    .left {
      left: 70px;
    }

    .right {
      right: 70px;
    }
  }

  .links-bar {
    ul {
      position: fixed;
      height: 100vh;
      width: 68px;

      li {
        padding-bottom: 30px;
        list-style: none !important;

        i {
          font-size: 20px;
          cursor: pointer;
        }

        &.rotate {
          transform: rotate(-90deg);
          margin-left: 42px;
        }
      }
    }

    .left {
      border-right: solid 1px #695872;
      padding-left: 24px;
      padding-top: 20vh;

      .rotate {
        width: max-content;
        margin-left: -16px;
        margin-top: -65px;
      }

      .dot {
        margin-left: 8px;
        margin-top: -45px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
      }

      .left-divider {
        width: 1px;
        border: #fff solid 1px;
        height: 130px;
        margin-left: 10px;
      }
    }

    .right {
      border-left: solid 1px #695872;
      right: 0px;
      padding-top: 30vh;
    }

    .left li.rotate {
      transform-origin: bottom right;
    }

    .right li.rotate {
      transform-origin: bottom left;
    }
  }

  .topnav {
    position: relative;
    background-color: $clr-n;
    box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.32);

    .nav-item {
      padding-right: 12px;

      i {
        font-size: 20px !important;
      }
    }

    .topnav-avatar {
      width: 36px;
      height: 36px;
      margin-left: 11px;
      border-radius: 36px;
      box-shadow: 0px 2px 13px 0px rgba(217, 0, 255, 0.47);
    }

    .dropdown {
      .btn {
        background: transparent !important;
        border: none;
        color: #fff;
        text-align: center;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: lowercase;
        span {
          color: #d900ff;
          font-family: Lato;
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }

        &::after {
          content: none !important;
        }
      }

      .dropdown-menu {
        background-color: $clr-n;
        border-radius: 0 !important;

        .dropdown-item {
          padding: 10px;

          &:hover {
            background-color: $clr-a;
          }
        }
      }
    }
  }

  main {
    position: relative;
    margin-left: 90px;
    margin-right: 90px;
  }

  .footer {
    position: relative;
    border-top: 1px solid #695872;
    padding: 4px 67px;

    img,
    iframe {
      width: 100%;
      height: 72px;
    }
  }
}

#auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  .auth-form {
    border-radius: 17px;
    width: 500px;
    border: solid 1px $clr-a;
    margin-top: 4%;
    margin-bottom: 4%;

    .form-header {
      height: 75px;
      border-top-left-radius: 17px;
      border-top-right-radius: 17px;
      background: linear-gradient(45deg, #44035b, #340358);
      padding-top: 25px;

      .form-title {
        color: #fff;
        text-align: center;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }

    .divider {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .left {
        width: 50%;
        color: $clr-a;
        height: 2px;
      }

      .texture {
        color: #fff;
        text-align: center;
        font-family: Montserrat;
        margin: 0px 10px;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
      }

      .right {
        width: 50%;
        color: $clr-a;
        height: 2px;
      }
    }

    input {
      background-color: #381e48;
      border: none;
      height: 35px;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      line-height: normal;
    }
  }

  .form-body {
    background-color: #1e032e;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
  }
}

#profile-page {
  .tab-btns {
    width: 100%;
    padding-top: 5px;

    .btn {
      border-radius: 0px !important;
      border: 0px !important;
      margin-right: 15px;
      height: 40px;
      background: rgba(255, 255, 255, 0.09);
      backdrop-filter: blur(8.5px);
      color: #fff;
      text-align: center;
      font-family: "Montserrat";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;

      &.active,
      &:hover {
        background: #9e19c7;
        box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.67);
      }
    }
  }

  .ctrl-btns {
    text-align: right !important;
    padding-top: 5px;

    .edit-btn {
      color: #fff;
      text-align: center;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      height: 40px;
      border-radius: 30px;
      width: 180px;
      border: 1px solid #9e19c7;
      background: var(--fff, linear-gradient(95deg, #d900ff 0%, #8500ff 100%));
      box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.32);
    }

    .reset-btn {
      color: #fff;
      text-align: center;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 130px;
      height: 40px;
      border: 1px solid #9e19c7;
      border-radius: 33px;
      background: rgba(218, 3, 247, 0.34);
      box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.32);
      backdrop-filter: blur(10px);
      margin-left: 10px;
    }
  }

  .profile-form {
    .form-label {
      color: #fff;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .form-control {
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.09);
      backdrop-filter: blur(8.5px);
      height: 40px;
    }
  }

  .profile-table {
    tr {
      height: 60px;
      border-bottom: #753b99 solid 1px;
      border-style: none !important;

      td {
        background: rgba(255, 255, 255, 0.09);
        backdrop-filter: blur(8.5px);
        padding: 15px 35px;
        color: #fff;
        font-family: "Montserrat";
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 285.4%;

        label {
          color: #fff;
          font-family: "Montserrat";
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 285.4%;
        }
      }
    }
  }

  .profile-linked {
    text-align: center;

    h3 {
      color: #fff;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 324.9%;
    }

    .linked-card {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      color: #fff;
      text-align: center;
      font-family: "Montserrat";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }

    .facebook {
      background: #007efa;
      box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.67);

      i {
        font-size: 24px;
      }
    }

    .google {
      background: rgba(0, 0, 0, 0.19);
      box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.67);
      backdrop-filter: blur(8px);

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

#dashboard-page {
  .copylink_btn {
    height: 37px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #d900ff;
    color: #fff;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;

    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    img {
      margin-left: 10px;
    }
  }
  .sideinfo {
    border: 1px solid #9e19c7;
    border-radius: 0px !important;
    box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.32);

    li {
      display: flex;
      align-items: center;
      height: 45px;
      color: #fff;
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 0px !important;
      border: none;
      border-bottom: 1px solid rgba(218, 3, 247, 0.16);
      background: #1d002a;
      box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.32);

      &:last-child {
        border-bottom: none;
      }
      i {
        color: #d900ff;
        margin-right: 10px;
        font-size: 20px;
      }
      span {
        margin-left: auto;
      }
    }
  }
}
