$clr-a: #9e19c7;
$box_shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.32);
$font_color: #fff;

body {
  &::-webkit-scrollbar {
    width: 0px;
    color: #44035b;
  }
}

a {
  text-decoration-line: none;
  color: #fff !important;
}

::-webkit-input-placeholder {
  color: #695872 !important;
}

input,
textarea {
  border: none !important;
  color: $font_color !important;
  background-color: #381e48 !important;
}

input:focus,
textarea:focus,
select:focus,
textarea:focus {
  background-color: transparent !important;
  outline: solid 1px $clr-a !important;
  box-shadow: none !important;
  transition: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-text-fill-color: $font_color !important;
  -webkit-box-shadow: 0 0 0 30px #0000 inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  outline: solid 1px $clr-a !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-select,
textarea {
  border: none;
  background-color: #381e48 !important;
  color: $font_color !important;

  &::-webkit-scrollbar {
    width: 0px;
  }

  option {
    background-color: #381e48 !important;
    color: $font_color !important;
  }
}

@import url("./assets/scss/components.scss");
@import url("./assets/scss/pages.scss");
